In [2]:
list1= ["Select asdasl"]
list2= "Select dasahdka"
list3= ["asdasda","asdasda"]


print(type(list1))
print(type(list2))
print(type(list3))

<class 'list'>
<class 'str'>
<class 'list'>

In [3]:
import database_connector as dc

In [9]:
result = dc.query("SELECT count(column_name) as column_count FROM information_schema.columns WHERE table_name = 'test_table' and column_name != 'id'")[0][0]
print(f"--- {result}")

Database Connection to postgres successfully established
--- 2

In [27]:
result = dc.query("SELECT column_name as column_count FROM information_schema.columns WHERE table_name = 'test_table' and column_name != 'id'")
print(f">\n {result}")

list = tuple([column[0] for column in result])
print(list)

print(f"INSERT INTO table {list}")

Database Connection to postgres successfully established
>
 [('name',), ('bezeichnung',)]
('name', 'bezeichnung')
INSERT INTO table ('name', 'bezeichnung')

In [21]:
return_value = [('name',), ('bezeichnung',)]
count = len(return_value)
print(count)

new_list = []
for i in return_value:
    new_list.append(i[0])

print(new_list)

new_list2 = [column[0] for column in return_value]
print(new_list2)

filtered = len(return_value)
print(f"({('%s,'*(filtered-1) + '%s')})")

2
['name', 'bezeichnung']
['name', 'bezeichnung']
(%s,%s)