In [2]:
import cloud_data.database_connector

list1= ["Select asdasl"]
list2= "Select dasahdka"
list3= ["asdasda","asdasda"]


print(type(list1))
print(type(list2))
print(type(list3))

<class 'list'>
<class 'str'>
<class 'list'>

In [3]:
import database_connector as dc

In [9]:
result = dc.query("SELECT count(column_name) as column_count FROM information_schema.columns WHERE table_name = 'test_table' and column_name != 'id'")[0][0]
print(f"--- {result}")

Database Connection to postgres successfully established
--- 2

In [27]:
result = dc.query("SELECT column_name as column_count FROM information_schema.columns WHERE table_name = 'test_table' and column_name != 'id'")
print(f">\n {result}")

list = tuple([column[0] for column in result])
print(list)

print(f"INSERT INTO table {list}")

Database Connection to postgres successfully established
>
 [('name',), ('bezeichnung',)]
('name', 'bezeichnung')
INSERT INTO table ('name', 'bezeichnung')

In [21]:
return_value = [('name',), ('bezeichnung',)]
count = len(return_value)
print(count)

new_list = []
for i in return_value:
    new_list.append(i[0])

print(new_list)

new_list2 = [column[0] for column in return_value]
print(new_list2)

filtered = len(return_value)
print(f"({('%s,'*(filtered-1) + '%s')})")

2
['name', 'bezeichnung']
['name', 'bezeichnung']
(%s,%s)

In [16]:
values1 = None
values = ()

def ubs():
    if not values or len(values) < 1:
        return ("Please provide a 'value' when using this function")

ubs()

"Please provide a 'value' when using this function"

In [19]:
def generate_create_statement(table: str, values: tuple[tuple[str, str], ...]) -> str:
    columns = []
    for column_name, column_type in values:
        columns.append(f"{column_name} {column_type}")

    columns_sql = ",\n\t".join(columns)
    statement = f"CREATE TABLE {table} (\n\t{columns_sql}\n);"
    return statement


table = "ernst"
values = (
    ("id", "SERIAL PRIMARY KEY"),
    ("name", "varchar(255)"),
    ("type", "varchar(100)")
)

print(generate_create_statement(table,values))

CREATE TABLE ernst (
	id SERIAL PRIMARY KEY,
	name varchar(255),
	type varchar(100)
);

## Database tests
------------------------

In [1]:
import database_connector as dc

#### Query

In [2]:
statement = "SELECT * FROM test"
print(dc.query(statement))

Database Connection to ai-project successfully established
[]

#### Insert

In [3]:
table = "test"
# Table test hat die Columns "name", "number" ist alphabetisch
values = ("Peter",17)

print(dc.insert(table=table,values=values))

Database Connection to ai-project successfully established
Database Connection to ai-project successfully established

SyntaxError: syntax error at or near "'name'"
LINE 1: INSERT INTO test ('name', 'number') VALUES ('Peter',17)
                          ^